.display-4 {
    padding: 1rem;
}

.bid-text {
    width: auto;
}

.align-items-center {
    align-items: center;
}

.buy-out-text {
    margin-top: 3rem;
}

.bid-button {
    width: 80%;
}

.buy-out-button {
    width: 80%;
}

.bid {
    margin-top: 0rem;
}

.buy-out {
    margin-top: 3rem;
}

.desc-text {
    justify-self: center;
}

.end-time {
    margin-top: 3rem;
}

.user-button {
    width: auto;
    margin-left: 1rem;
}

.carousel-info-container {
    margin-top: 3rem;
}

.rating-text {
    margin-left: 1rem;
}

.back-button {
    width: auto;
}

.desc {
    margin-top: 2rem;
    font-size: x-large;
}

.bidding-section {
    margin-top: 3rem;
}

.leaflet-container {
    width: 100%;
    height: 100vh;
    z-index: 1;
}

.register-button {
    width: auto;
}

.login-button {
    width: auto;
}

.map {
    height: 300px;
}

.title {
    margin: 1.5rem;
}

.loginregister {
    justify-content: center;
}

.carousel {
    min-height: auto;
    max-height: auto;
}

#recommended .row {
    overflow-x: scroll;
    flex-wrap: nowrap !important;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
}