.search-container{
    align-self: center;
    margin-top : 5rem;
    margin-bottom : 5rem;
}

.search-input{
    align-self: center;
    font-size : 3rem;
    line-height: 5rem;
}

.search-button{
    font-size : 2rem;
    line-height: 4rem;
    -moz-text-size-adjust: auto;
}

.wrap-all-search{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}